*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 0 0 0;
}

.nav {
    position: fixed;
    /* top: 0; */
    width: 100%;
    /* height: 50px; */
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
    background-color: rgba(0, 0, 0,1);
    display: flex;
    /* overflow-x: auto; */
    align-items: flex-end;
    justify-content: center ;
    /* padding: 10px; */
    
}
.nav__icon{
    display: none;
}
.nav__link {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: center;
    justify-content: flex-end;
    /* flex-grow: 1; */
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    /* text-align: left; */
    padding: 10px;
    margin-bottom: 05px;
    
}

.nav__link:hover {
    background-color: rgba(201, 87, 87, 0.8);
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}
/* .para{
    margin-top: 52px;
} */

@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .nav__icon{
        display: table-row;
    }
    body {
        margin: 0 0 55px 0;
    }
    
    .nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        display: flex;
        overflow-x: auto;
    }
    
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-size: 13px;
        color: #444444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }
    
    .nav__link:hover {
        background-color: #eeeeee;
    }
    
    .nav__link--active {
        color: #009578;
    }
    
    .nav__icon {
        font-size: 18px;
    }
    
  }